@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Custom Font Family */
body {
  font-family: 'Inter', 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

/* Custom styles can be added here */

